<div class="d-flex align-items-center justify-content-center bg-dark" style="height: 100vh; margin: 0; background-color: #1A1D21 !important">
  <div class="container-fluid">
    <div class="row" style="height: 96vh">
      <div class="col-4 px-3 d-flex flex-column align-items-start my-4">
        <div class="card">
          <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1 text-center">Kelime Grupları</h4>
          </div>
          <div class="card-body">
            <div class="list-group">
              <label *ngFor="let grup of kelimeGruplari" class="list-group-item">
                    <input type="radio"  [(ngModel)]="selectedGroup" [value]="grup" (change)="onRadioButtonChanged(grup)" class="form-check-input me-1" name="radioButton"/> 
                    {{grup.grupAdi}}
              </label>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-4 d-flex flex-column align-items-center justify-content-center">
        <div class="border border-1 border-light p-2 w-75 h-20">
          <label for="exampleInput" class="form-label text-white"><h5>Çevirilecek Kelime : {{currentWord}} </h5></label>
          <input type="text" id="exampleInput" [(ngModel)]="currentInput" class="form-control text-white h-30" autocomplete="off" (keyup.enter)="checkTranslation()"   
          [ngClass]="{
            'border-primary': isCorrect && hasAttempted,
            'border-danger': !isCorrect && hasAttempted
          }"
          />
          <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0  d-grid">
            <button (click)="checkTranslation()" class="btn btn-warning btn-border my-3">Çevir</button>
          </div>
        </div>
      </div>
      
      <div class="col-4">

      </div>
    </div>
    
    <div class="row mb-1">
      <div class="col-12">
          <div class="container-fluid">
              <div class="row ">
                  <div class="col-sm-12 text-center">
                     <h6>© Designed and developed by codeweh</h6>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

